/* @media (min-width : 991px){
    .Container{
        width: 40%;
    }
} */

@media (min-width: 768px) and (max-width: 1024px){
    .Container{
        width: 60%;
     
       justify-content:center; 
       margin-top: 200px!important;
    }
}